<app-core-view title="Test Dialog">
    <div body>
        <div class="row">
            <app-button label="small" (onClick)="open('s')"></app-button>
            <app-button label="medium" (onClick)="open('m')"></app-button>
            <app-button label="large" (onClick)="open('l')"></app-button>
            <app-button label="extra large" (onClick)="open('xl')"></app-button>
            <app-button label="extra extra large" (onClick)="open('xxl')"></app-button>
            <app-button label="full" (onClick)="open('full')"></app-button>
        </div>
    </div>
</app-core-view>